@import url('https://fonts.googleapis.com/css?family=VT323');

.container {
    background: url("https://media.discordapp.net/attachments/758339851996233730/939305599513030656/exp.png?width=951&height=594");
    height: fit-content;
    padding: 50px;
    font-family: VT323 monospace;
  }

.head{
    color: rgb(78, 54, 185);
    text-align: center;
    font-size: xx-large;
}
  
