@import url('https://fonts.googleapis.com/css?family=VT323');

.container {
    background: url("../images/exp.png");
    height: fit-content;
    padding: 50px;
    text-align: center;
    font-family: VT323 monospace;
}

.title {
    line-height: 1.15;
    font-size: 2.5rem;
    color: yellow;
    background-color: black;
    text-align: center;
    text-decoration-style:dotted;
}
  
.projectImage{
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 20%;
}

.certifiates{
    margin: auto;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}